[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
pandas = "*"
sqlalchemy = "*"
oracledb = "*"
profuturo = {editable = true, path = "."}
jaydebeapi = "*"
python-dotenv = "*"
polars = {extras = ["connectorx", "pandas", "pyarrow"], version = "*"}

[dev-packages]
pyspark = "*"
types-psycopg2 = "*"

[requires]
python_version = "3.8"
